@import '../common/vars';

.answers {
    padding: 50px 0;

    &__wrap {
        display: flex;
        margin: 0 -15px;

        @include b(tablet) {
            display: block;
        }
    }

    &__col {
        width: 50%;
        padding: 0 15px;

        @include b(tablet) {
            width: 100%;
        }
    }

    &__caption {
        color: $secondary-color;
        margin-bottom: 65px;
    }

    &__info {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        @include b(mobile) {
            flex-direction: column;
            margin-bottom: 40px;
        }

        &-img-box {
            margin: 0 29px 0 0;

            @include b(mobile) {
                margin: 0 0 20px 0;
            }
        }
    }

    &__title {
        font-size: 29px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 20px;
    }

    &__image {
        position: relative;
        padding-bottom: 105%;

        @include b(mobile) {
            padding-bottom: 125%;
        }
    }

    &__img {
        position: absolute;
        width: 80%;
        top: 0;
        left: 74px;
        z-index: 1;

        @include b(mobile) {
            left: 0;
            width: 100%;
        }
    }

    &__images-box {
        position: relative;
    }

    &__img-ract {
        background-color: $yellow-color;
        position: absolute;
        top: 60px;
        left: 0;
        width: 400px;
        height: 354px;
        z-index: -1;

        @include b(tablet) {
            display: none;
        }
    }


}